#envelope {
    position: Alternative;
    width: 280px;
    height: 180px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    margin: 0 auto;
    top: 150px;
    background-color: var(--color-flap);
    box-shadow: 0 4px 20px rgba(0,0,0,.1);
}